{% extends "dashboard.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2> Registro de un Libro</h2>
</div>

<form method="post" id="solicitud-form" class="shadow-sm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <!-- Formulario Libro (Solicitante) -->
        <div class="col-md-12"> 
            <div class="mb-3">
                <label class="form-label">Titulo</label>
                {{ form.titulo }}
                {% if form.titulo.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.titulo.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Autores</label>
                {{ form.autores }}
                {% if form.autores.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.autores.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Editor</label>
                {{ form.editor }}
                {% if form.editor.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.editor.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Fecha de publicacion</label>
                {{ form.fecha_publicacion }}
                {% if form.fecha_publicacion.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.fecha_publicacion.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Portada</label>
                <div class="text-secondary p-2">
                    {{ form.portada }}
                    {{ form.portada.input }}
                </div>
                
                {% if form.portada.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.portada.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class=" d-flex justify-content-between">
            <button onclick="window.history.back();" class="px-2 m-2 btn btn-light">
                Regresar
            </button>
            <button class="px-5 btn btn-success m-2" type="submit">Enviar</button>
        </div>
        
</form>

{% endblock %}
